doctype html
html
  head
    title Edit Movie
  body
    h1 Edit #{movie.name}
    if error
      p(style="color:#ff512f") #{error}
    form(method="POST" action=`/api/movies/${movie._id}?_method=PUT`)
      label(for="name") Name:
      input(type="text" name="name" value=movie.name required)
      br

      label(for="description") Description:
      textarea(name="description" required)= movie.description
      br

      label(for="year") Year:
      input(type="number" name="year" value=movie.year required)
      br

      label(for="genres") Genres (comma separated):
      input(type="text" name="genres" value=movie.genres.join(", ") required)
      br

      label(for="rating") Rating (1-10):
      input(type="number" name="rating" value=movie.rating min="1" max="10" required)
      br

      button(type="submit") Update Movie
