extends layout

block content
  h1 All Movies
  .movie-list
    each movie in movies
      .movie-card
        strong= movie.name
        |  - #{movie.year}
        br
        .movie-actions
          a.btn(href=`/api/movies/${movie._id}`) View
          a.btn(href=`/api/movies/${movie._id}/edit`) Edit
          form(action=`/api/movies/${movie._id}?_method=DELETE` method="POST" style="display:inline")
            button(type="submit") Delete
  br
  a.btn(href="/api/movies/add") Add a New Movie