extends layout

block content
  .movie-card(style="max-width:400px; margin:auto;")
    h1 #{movie.name}
    p
      | <b>Description:</b> #{movie.description}
      br
      | <b>Year:</b> #{movie.year}
      br
      | <b>Genres:</b> #{movie.genres.join(', ')}
      br
      | <b>Rating:</b> #{movie.rating}
  br
  a.btn(href="/api/movies") Back to All Movies